@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: #e4e5f1;
}

.dark body {
	background: #161722;
}

.header-bg {
	background-image: url('./assets/images/bg-mobile-light.jpg');
}

.dark .header-bg {
	background-image: url('./assets/images/bg-mobile-dark.jpg');
}

form:focus-within {
	border: 1px solid #3a7bfd;
}

.theme-switcher svg {
	transition: fill 0.3s, stroke 0.3s;
}

.theme-switcher:hover svg,
.theme-switcher:focus svg {
	fill: #3a7bfd;
	stroke: #3a7bfd;
}

.delete-btn svg {
	stroke: #d2d3db;
}

.dark .delete-btn svg {
	stroke: #393a4c;
}

.delete-btn:hover svg,
.delete-btn:focus svg,
.dark .delete-btn:hover svg,
.dark .delete-btn:focus svg {
	stroke: #3a7bfd;
}

input::placeholder {
	color: #9394a5;
}

input.error::placeholder {
	color: #c54040;
}

.dark input.error::placeholder {
		color: #f25f5f;
}


@media (min-width: 768px) {
	.header-bg {
		background-image: url('./assets/images/bg-desktop-light.jpg');
	}

	.dark {
		.header-bg {
			background-image: url('./assets/images/bg-desktop-dark.jpg');
		}
	}
}
